.table-sales tbody span{
    display: block;
    text-align: left;
}
.table-sales thead tr th{
    text-align: left;
    padding: 12px 13px;

}
.table-sales thead tr th:last-child{
    width: 261px;
}
.table-sales tbody tr td{
    text-align: left;
    padding: 12px 16px;

}
.table-sales tbody tr td strong{
    display: block;
}

.sales-contracts{
    gap: 12px;
}
.all-contracts{
    position: relative;
}
.all-contracts-click{
    display: flex;
    padding: 7px 36px 7px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--colors-border-primary);
    background: var(--bg-color);
    box-shadow: 0 1px 2px 0 var(--effects-shadow-04);
    cursor: pointer;
    color: var(--colors-text-placeholder);
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
}
.all-contracts-click:after{
    content: "";
    position: absolute;
    top: 14px;
    right: 15px;
    border-top: 2px solid var(--silver-icon-color);
    border-right: 2px solid var(--silver-icon-color);
    width: 6px;
    height: 6px;
    transform: rotate(135deg);
}

.all-contracts-drop{
    display: none;
    border-radius: 8px;
    border: 1px solid var(--colors-border-primary);
    background: var(--bg-color);
    box-shadow: 0 1px 2px 0 var(--effects-shadow-04);
    position: absolute;
    right: 0;
    width: 248px;
    top: 48px;
    z-index: 88;
}
.all-contracts-opened .all-contracts-drop{
    display: block;
}
.all-contracts-menu{
    gap: 1px;
    padding: 0 6px 8px;
}
.all-contracts-menu li{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 6px;
    color: var(--colors-act-text-quaternary);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    transition: 0.3s;
}
.all-contracts-menu li:hover{
    background: var(--colors-bg-primary-hover);
}
.table-search{
    padding: 16px;
    position: relative;
}
.table-search .btn-table-search{
    display: block;
    position: absolute;
    background: unset;
    top: 26px;
    left: 24px;
}
.table-search label{
    display: flex;
    width: 100%;
}
.table-search input{
    border-radius: 8px;
    border: 1px solid var(--colors-border-primary);
    background: var(--bg-color);
    box-shadow: 0 1px 2px 0 var(--effects-shadow-04);
    padding: 8px 12px 8px 40px;
    gap: 8px;
    width: 100%;
    height: 40px;
    overflow: hidden;
    color: var(--colors-text-placeholder);
    font-size: 16px;
    font-weight: 400;
}
.table-search input::placeholder{
    color: var(--colors-text-placeholder);
}
.table-search input:focus{
    border: 1px solid var(--utility-blue-light-500);
}
.table-search input:active{
    border: 1px solid var(--utility-blue-light-500);
}


.select-dates{
    position: relative;
    border-radius: 8px;
    border: 1px solid var(--colors-border-primary);
    background: var(--bg-color);
    box-shadow: 0 1px 2px 0 var(--effects-shadow-04);
    padding: 9px 14px;
    gap: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.select-dates i{
    background-color: var(--silver-icon-color);
}
.select-dates span{
    color: var(--colors-text-placeholder);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.sales-search-cnt{
    gap: 12px;
}
.sales-search{
    position: relative;
    width: 296px;
}
.btn-table-search{
    display: block;
    position: absolute;
    background: unset;
    top: 10px;
    left: 12px;
}
.sales-search label{
    display: flex;
    width: 100%;
}
.sales-search input{
    border-radius: 8px;
    border: 1px solid var(--colors-border-primary);
    background: var(--bg-color);
    box-shadow: 0 1px 2px 0 var(--effects-shadow-04);
    padding: 8px 12px 8px 40px;
    gap: 8px;
    width: 100%;
    height: 40px;
    overflow: hidden;
    color: var(--colors-text-placeholder);
    font-size: 16px;
    font-weight: 400;
}
.sales-search input::placeholder{
    color: var(--colors-text-placeholder);
}
.sales-search input:active{
    border: 1px solid var(--utility-blue-light-500);
}
.sales-search input:focus{
    border: 1px solid var(--utility-blue-light-500);
}
.btn-blue{
    transition: 0.3s;
    padding: 10px 14px;
    border-radius: 8px;
    background: var(--utility-blue-light-500);
    box-shadow: 0 0 0 1px var(--colors-shadow-skeumorphic) inset, 0 -2px 0 0 var(--colors-shadow-skeumorphic-two) inset, 0 1px 2px 0 var(--colors-shadow-skeumorphic-three);
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    gap: 6px;
}











.select-dates-rel{
    position: relative;
}
.calendar-popup {
    position: absolute;
    top: 48px;
    right: 0;
    width: 808px;
    z-index: 999;
    display: none;
    border-radius: 16px;
    border: 1px solid var(--colors-border-alt);
    background: var(--bg-color);
    box-shadow: 0 20px 24px -4px var(--colors-shadow-skeumorphic), 0 8px 8px -4px var(--colors-shadow-skeumorphic-two), 0 3px 3px -1.5px var(--colors-shadow-skeumorphic-three);
}

.calendar-left {
    border-right: 1px solid  var(--colors-border-alt);
    width: 154px;
    padding: 12px;
}

.calendar-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2px;
    display: flex;
    flex-direction: column;
}

.calendar-left li {
    padding: 8px 0 8px 12px;
    white-space: nowrap;
    color: var(--colors-act-text-quaternary);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}

.calendar-right {
    max-width: 656px;
    width: 100%;
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-top: 20px;
}
.prev-next-month{
    max-width: 328px;
    width: 100%;
    padding: 0 34px;
}
.prev-next-month button{
    background: unset;
}
#prevMonth{
    margin-right: auto;
}
#nextMonth{
    margin-left: auto;
}
.months {
    display: flex;
}
#month1Label, #month2Label{
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--colors-text-secondary-700);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.month {
    max-width: 328px;
    width: 100%;
    padding: 20px 24px;
}
.month + .month{
    border-left: 1px solid  var(--colors-border-alt);

}
.month table {
    width: 100%;
    border-collapse: collapse;
}

.month th, .month td {
    text-align: center;
    padding: 10px 8px;
    height: 40px;
    border-radius: 50%;
    width: 40px;
    border: unset;
}
.month th{
    color: var(--colors-act-text-quaternary);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.month td{
    color: var(--colors-text-secondary-700);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.day {
    cursor: pointer;
    border-radius: 4px;
}

.day:hover {
    background: var(--colors-bg-primary-hover);
}

.selected {
    background: #007bff;
    color: white;
}

.calendar-footer {

    gap: 12px;
    padding: 16px;
    border-top: 1px solid var(--colors-border-alt);
}
.calendar-footer-inp{
    gap: 12px;
}
.calendar-footer-inp span{
    color: var(--silver-icon-color);

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.calendar-footer input {
    border-radius: 8px;
    border: 1px solid var(--colors-border-primary);
    background: var(--bg-color);
    box-shadow: 0 1px 2px 0 var(--effects-shadow-04);
    padding: 8px 12px;
    width: 136px;
    height: 40px;
    overflow: hidden;
    color: var(--colors-text-placeholder);
    font-size: 16px;
    font-weight: 400;
}
.sales-search input::placeholder{
    color: var(--colors-text-placeholder);
}
.calendar-btn{
    gap: 12px;
}
.btn-cancel{
    border: 1px solid var(--colors-border-primary);
    background: var(--bg-color);
    box-shadow: 0 1px 2px 0 var(--effects-shadow-04);
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--colors-text-placeholder);
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
}






































.table-payments thead tr th:last-child{
    text-align: right;
}
.table-payments tbody tr td:last-child{
    text-align: right;
}
.table-payments tbody tr:last-child td{
    border-bottom: unset;
}
.users-table-btn{
    gap: 2px;
}
.btn-edit, .btn-lock, .btn-trash, .btn-wallet, .btn-settings{
    background: unset;
    border-radius: 6px;
    width: 28px;
    height: 28px;
}
.btn-edit i, .btn-lock i, .btn-trash i, .btn-wallet i, .btn-settings i{
    width: 16px;
    height: 16px;
    background: var(--silver-icon-color);
}




.card-groups-btn i{
    display: none;
}


.open-filter-mob{
    display: none;
}


.clear-filter{
    color: var(--utility-blue-light-500);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.filter-data-tit h2{
    width: 100%;
    text-align: center;
    margin-right: 30px;
}

.filter-data-cnt{
    padding: 10px 16px 16px;
}

.filter-data-cnt h3, .select-contract-cnt h3{
    color: var(--title-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.filter-data-flex{
    margin-top: 8px;
    gap: 16px;
}
.filter-data-inp{
    position: relative;
}
.filter-data-inp .icon-calendar{
    position: absolute;
    left: 12px;
}
.filter-data-inp input{
    border-radius: 8px;
    border: 1px solid var(--colors-border-primary);
    background: var(--bg-color);
    box-shadow: 0 1px 2px 0 var(--effects-shadow-04);
    padding: 8px 12px 8px 40px;
    gap: 8px;
    width: 100%;
    height: 40px;
    overflow: hidden;
    color: var(--colors-text-placeholder);
    font-size: 16px;
    font-weight: 400;
}
.select-contract-cnt{
    padding: 16px;
}
.select-contract-box .table-checkbox{
    width: 100%;
    padding: 16px 0;
    height: auto;
}
.select-contract-box .table-checkbox + .table-checkbox{
    border-top: 1px solid var(--colors-border-alt);
}
.select-contract-box .checkmark {
    right: 0;
    left: auto;
    top: 16px;
}

.select-contract-btn{
    padding: 32px 16px;
}

.select-contract-btn .btn-blue{
    width: 100%;
}
.select-contract-box .table-checkbox small{
    color: var(--colors-text-secondary-700);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

@media (max-width: 1420px){
    .sales-search {
        width: auto;
    }
    .table-sales{
        overflow-x: auto;
    }
    .table-sales table{
        width: 1400px;
    }
    .calendar-popup {
        right: -80px;
        width: 760px;

    }
}
@media (max-width: 1399px){
    .table-card-groups table{
        width: 1400px;
    }

    .personal-table-fuel .table-title {
        justify-content: flex-end;
    }
    .personal-table-fuel .table-title h2{
        display: none;
    }
    .calendar-popup {
        right: -180px;
    }
    .month {
        max-width: 294px;
        padding: 18px 16px;
    }
    .calendar-footer input {
        font-size: 14px;
    }


}
@media (max-width: 1299px){
    .table-payments{
        overflow-x: scroll;
    }
    .table-payments table{
        width: 1300px;
    }

}
@media (max-width: 1199px){
   .personal-table-fuel{
       margin: 0;
   }
    .table-payments table{
        width: 1100px;
    }
    .table-payments-tit .table-title{
        display: none;
    }
    .table-payments-tit{
        border-top: unset;
        margin: 0;
    }
}
@media (max-width: 1020px){
    .table-card-groups table{
        width: 1100px;
    }
    .personal-table-group{
        margin: 0;
    }
    .sales-contracts .all-contracts{
        display: none;
    }



    .open-filter-mob{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        border: 1px solid var(--colors-border-primary);
        background: var(--bg-color);
        max-width: 40px;
        width: 100%;
        height: 40px;
        cursor: pointer;
    }
    .select-dates-rel{
        display: none;
    }
    .rem-btn-sales .btn-blue{
        display: none;
    }









}
@media (max-width: 767px){
   .card-groups-tit h2{
       display: none;
   }
}
@media (max-width: 570px){
   .card-groups-remove{
       display: none;
   }
    .sales-search {
        position: relative;
        width: 100%;
    }
    .sales-search-cnt {
        gap: 12px;
        width: 100%;
    }
    .card-groups-btn span{
        display: none;
    }
    .card-groups-btn {
        padding: 10px 10px;
    }
    .card-groups-btn i{
        display: flex;
    }
    .sales-contracts {
        width: 100%;
    }
    .all-contracts-click {
        font-size: 14px;
    }


}